<div class="row" id="static_texts">
  <div class="col-lg-12">
    <h4>Backend</h4>
  </div>

  <div class="col-lg-12">
    <a href="<%= static_text_index_path %>">Static texts</a>
    <a href="">Static images</a>
    <a href="">Products</a>
    <a href="">Offers</a>
  </div>
</div>